/* import url("https") */

:root{
    --fg: #241910;
    --bg: #fefbf4;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "DM Mono",sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    font-family: "Host Grotesk", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
}

p{
    text-transform: uppercase;
}